div,body  {
  background-color: #252626;
  color: #D9D1C7;
}

.home_html{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: #6DBFF2;
}

.home{
  width: 100%;
  display: flex;
  
}

.my_name{
  width: 70%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  font-size: 90%;
}

.home_options{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  font-size: 16px;
}

.home_bar{
  text-decoration: underline;
  display: flex;
  justify-content: space-evenly;
}
